@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafa;
  color: #0a0a0a;
  -webkit-font-smoothing: antialiased;
}

input, select, textarea {
  -webkit-appearance: none;
}
